.quiz-questions {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.question {
  display: flex;
  gap: 4px;

  .delete {
    flex: 1;
  }

  button {
    padding: 8px;
    font-weight: normal;
  }
}
