<div class="quiz-box" id="quiz">
    <div class="quiz-header">
        <h2>Заполните информацию о себе</h2>
        <label for="name">Имя:</label>
        <input type="text" class="quiz-input" id="name" [(ngModel)]="answerer.name" required>

        <label for="group">Группа:</label>
        <input type="text" class="quiz-input" id="group" [(ngModel)]="answerer.group">

        <label for="age">Возраст:</label>
        <input type="number" class="quiz-input" id="age" [(ngModel)]="answerer.age">

        <label for="additional">Дополнительно:</label>
        <textarea id="additional" [(ngModel)]="answerer.additional"></textarea>
    </div>
    <button (click)="onSubmit()">Продолжить</button>
</div>